span {
  font-family: 'Josefin Sans', sans-serif;
}


/* Variables */
/* Small Navigation */
.logo-small {
  float: right; }

.title-bar {
  padding: 0 .5rem; }

.menu-icon,
.title-bar-title {
  position: relative;
  top: 10px; }

/* Medium-Up Navigation */
@media only screen and (min-width: 40rem) {
  .logo-wrapper {
    position: relative; }
    .logo-wrapper .logo {
      width: 118px;
      height: 92px;
      position: absolute;
      right: 10%;
      top: -6px;
      margin-left: -59px; }

  .top-bar-left {
    width: 50%;
    padding-right: 86px; }
    .top-bar-left ul {
      float: right; } }



.top-bar{
  background-color: #ffffff
}

#nameintro {
  height: 300px;
}

#project1 {
  height: 200px;
}

#project2 {
  height: 200px;
}

#project3 {
  height: 500px;
  border: none;
}

.iconsize {
  font-size: 28pt;
  padding: 5px;
  color: black;
}

#separator1 {
  height: 100px
}

#letterspan {
  color:red;
}


