/* Variables */
/* Small Navigation */
.logo-small {
  float: right; }

.title-bar {
  padding: 0 .5rem; }

.menu-icon,
.title-bar-title {
  position: relative;
  top: 10px; }

/* Medium-Up Navigation */
@media only screen and (min-width: 40rem) {
  .logo-wrapper {
    position: relative; }
    .logo-wrapper .logo {
      width: 118px;
      height: 92px;
      position: absolute;
      right: 10%;
      top: -6px;
      margin-left: -59px; }

  .top-bar-left {
    width: 50%;
    padding-right: 86px; }
    .top-bar-left ul {
      float: right; } }
.callout {
  height: 300px;
}
